{% extends 'engine/main.html' %}
{% load static %}

{% block content %}

  <img id='pict' src="{{ picture }}">

    <script>
    $(document).ready(function() {
      p = document.body.querySelector("#pict");
      p.height = window.innerHeight;
      p.width = window.innerWidth;
    });
  </script>

{% endblock content %}

{% block btn %}
  <ul class="navbar-nav mx-auto">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'laboratory' %}">
              Laboratory
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'table' %}">
              Table
          </a>
      </li>
  </ul>
{% endblock btn %}
